.nav{
    height: 75px;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    padding: 20px;
    flex-direction: row;
    color: white;
}


.nav-links{
    color: ghostwhite;
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links li{
    padding: 15px;
}

.nav-links button{
    border: 3px solid black;
    color: white;
    font-weight: bolder;
    background-color: aqua;
    box-shadow: 1px 3px black;
}